<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="" align="center">
      <h1>Finance tacker</h1>
      <h4>Simple and robust</h4>

      <%= link_to "logout", destroy_user_session_path, method: :delete %>

    </div>


  </body>
</html>
